<div class="container">
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary m-3 float-end" (click)="openModal(template)">
		Add
	</button>
	<table class="table table-hover">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Username</th>
					<th scope="col">Firstname</th>
					<th scope="col">Lastname</th>
					<th scope="col">Email</th>
					<th scope="col">city</th>
				</tr>
			</thead>
			<tbody>
				@for (item of showUsersList; track $index) {
				<tr>
					<th>{{ $index + 1 }}</th>
					<td>{{ item.username }}</td>
					<td>{{ item.name.firstname }}</td>
					<td>{{ item.name.lastname }}</td>
					<td>{{ item.email }}</td>
					<td>{{ item.address.city }}</td>
				</tr>
				}
			</tbody>
		</table>
	</table>
</div>

<ng-template #template>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Add User</h4>
		<button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
			<span aria-hidden="true" class="visually-hidden">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form [formGroup]="userForm">
			<div class="row">
				<div class="col-6">
					<!-- First Half of Form -->
					<div>
						<label>Email</label>
						<input class="form-control" type="email" formControlName="email" name="email" />
						<label>Username</label>
						<input class="form-control" type="text" formControlName="username" name="username" />
						<label>Password</label>
						<input class="form-control" type="password" formControlName="password" name="password" />
						<label>First Name</label>
						<input class="form-control" type="text" formControlName="firstname" name="firstname" />
						<label>Last Name</label>
						<input class="form-control" type="text" formControlName="lastname" name="lastname" />

					</div>
				</div>
				<div class="col-6">
					<!-- Second Half of Form -->
					<div>
						<label>City</label>
						<input class="form-control" type="text" formControlName="city" name="city" />
						<label>Street</label>
						<input class="form-control" type="text" formControlName="street" name="street" />
						<label>Number</label>
						<input class="form-control" type="number" formControlName="number" name="number" />
						<label>Zipcode</label>
						<input class="form-control" type="text" formControlName="zipcode" name="zipcode" />
						<label>Latitude</label>
						<input class="form-control" type="number" formControlName="lat" name="lat" />
						<label>Longitude</label>
						<input class="form-control" type="number" formControlName="long" name="long" />
					</div>
				</div>
			</div>
			<div class="text-center">
				<button type="button" class="btn btn-primary mt-3" (click)="postUser()">
					Save changes
				</button>
			</div>
		</form>

	</div>
</ng-template>